<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">testFlexing</ui:define>
		<ui:define name="content">
			<h3>
			This is an <a href="http://developer.axonivy.com/doc/latest/DesignerGuideHtml/ivy.userinterface.html#ivy-htmldialogs">Html Dialog</a> 
			implemented with JSF and <a href="http://primefaces.org/">Primefaces</a> as widget library
			</h3>
			
			<h:form id="form">
				<h:panelGrid columns="2">
					<f:facet name="header">
						<p:messages></p:messages>
					</f:facet>
					
					<!-- No 'form field [testFlexing.Data]' template found for field 'data'. -->
					<p:dataTable var="product" value="#{dtBasicView.products}">
            <p:column headerText="Code">
                <h:outputText value="#{product.code}" />
            </p:column>

            <p:column headerText="Name">
                <h:outputText value="#{product.name}" />
            </p:column>

            <p:column headerText="Category">
                <h:outputText value="#{product.category}" />
            </p:column>

            <p:column headerText="Quantity">
                <h:outputText value="#{product.quantity}" />
            </p:column>
        </p:dataTable>
					<br />
					<p:commandButton actionListener="#{logic.close}" value="Proceed" update="form" icon="ui-icon-check" />
				</h:panelGrid>
			</h:form>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>